body {
  font-family: 'Roboto', sans-serif; 
  font-size: 0.875rem;
  background-color: #ebebeb;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #007bff !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ffffff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: 600;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #ffffff !important;
  font-weight: 600;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

/* Navbar background color */
.navbar-light {
  background-color: #ffffff !important;
}

/* Add some space to the left of the search field */
.ml-2 {
  margin-left: 0.5rem !important;
}

/* Customize search field appearance */
.search-field {
  border-radius: 0.25rem;
  background-color: #ebebeb; /* Set background color */
  border: 1px solid #ced4da; /* Optional: Add a subtle border */
}

/* Align the search bar and button horizontally */
.navbar .form-control {
  margin-top: 0;
  margin-bottom: 0;
}

/* Ensure the Sign Out button is horizontally aligned and rounded */
.btn-outline-secondary {
  border-radius: 0.25rem;
  margin-top: 0.25rem; /* Optional, to adjust vertical alignment */
}

.nav-item {
  padding-left: 20px; /* Adjust the value to your desired level of indentation */
}
