/* Ensure the container-fluid spans the full width */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100vw; /* Ensures the container takes the full viewport width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

/* Ensure that no additional constraints are applied to the container-fluid */
.col-md-3, .col-md-6 {
  padding: 0; /* Remove padding if not needed */
}

/* Center the card within its parent container */
.card {
  margin: auto; /* Centers the card horizontally */
}

/* Optional: Adjust column sizes for responsiveness */
@media (max-width: 767px) {
  .col-md-5 {
    max-width: 100%; /* Full width on small screens */
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    max-width: 80%; /* Adjust width for medium screens */
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    max-width: 50%; /* Adjust width for large screens */
  }
}

/* Styles for placeholder images */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Styles for the password toggle button */
.showPasswordToggle {
  cursor: pointer;
  transition: all;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
}


/* Amount styling */ 
.amount-cell {
  text-align: right; /* Align text to the right */
  padding-right: 10px; /* Add some padding to the right */
  font-feature-settings: "tnum"; /* Enable tabular numbers for better alignment */
}


/* Pagination styling */
.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination .page-link {
  color: #007bff;
}

/* Tables styling to hide/show */
.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.visible {
  visibility: visible;
  opacity: 1;
  position: static;
}

/* Create space between divs */
.spaced-div {
  margin-bottom: 30px;
}

/* For titles */
.bold-text {
  font-weight: 600;
}

/* For uploading files */
.custom-file-input {
  padding-bottom: 10px;
}

/* Customizing the button text */
.custom-file-input::file-selector-button {
  content: 'Choose File';
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 50px;
}

/* Optional: additional styling for the button */
.custom-file-input::file-selector-button:hover {
  background-color: #0056b3;
}