{% extends "base_auth.html" %}

{% block content %}

<!-- Full-width container -->
<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="card-title py-3 text-center">
            <h4>Enter your email to get a reset link</h4>
          </div>

          <form action="{% url 'reset-password' %}" method="post">

            {% csrf_token %} 
            {% include "partials/_messages.html" %}

            <div class="form-group">
              <input
                type="email"
                name="email"
                placeholder="Email"
                id="emailField"
                class="form-control form-control-sm"
                value="{{fieldValues.email}}"
              />
            </div>
            <div class="email_invalid_feedback invalid-feedback" style="display:none"></div>
            <p class="text-sm text-success emailSuccessOutput"></p>

            <input
              type="submit"
              value="Submit"
              class="btn btn-block btn-primary submit-btn"
            />
          </form>
        </div>
        <div class="container mb-2">
          <span>Remember your password? </span><a href={% url 'login' %}>Login</a><br>
          <span>Dont have an account? </span><a href={% url 'register' %}>Register</a> <br>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
